.header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  background-color: #0C1713;
}

.header-links {
  text-decoration: none;
  color: #AB4967;
  font-size: large;
}

.table-container {
  padding-top: 2%;
  padding-left: 5%;
}

.table-data {
  width: 90%;
  border: #0C1713;
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #BC8C9C;
}

th,
td {
  padding: 2%;
  border: 1px solid black;
}

.block-margin {
  display: block;
  margin: 8px;
  width: 25px;
}

.form-style {
  border: 1px solid black;
  background-color: #BC8C9C;
  width: 50%;
}

.div-padding {
  padding-top: 3%;
  padding-left: 5%;
}

.button-margin {
  margin: 3%;
  font-size: large;
}

.icon-color {
  color: black !important;
  background-color: #BC8C9C !important;
  border-color: #BC8C9C !important;
}